::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body,
html {
    height: 100%;
}

.progress-container {
    width: 100%;
    height: 8px;
    background: #ccc;
    position: fixed;
}

.progress-bar-custom {
    height: 8px;
    background: coral;
    width: 0%;
}

.font-name {
    font-family: "Times New Roman", Times, serif;
    font-style: oblique;
}

.jumbotron{
    background-color: #bdd1ff;
}

.navbar-custom{
    border-top-style: solid; 
    border-top-color: coral;
}

.font-name2{
    font-family: "Georgia",
    Times,
    serif;
    font-size: 40px;
}

.skill {
background-color: white;
}

.img-skill {
    width: 80%;
    height: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-envelope{
    background: #4a9cdf;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #228bbb;
    color: white;
}

.parallax {
    /* The image used */
    background-image: url('https://dwickyferi.github.io/IMG/gambar1.jpg');

    /* Full height */
    height: 40%;
    -webkit-filter: grayscale(70%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);
    opacity: 0.7;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url('https://dwickyferi.github.io/IMG/gambar2.jpg');


    /* Full height */
    height: 40%;
    -webkit-filter: grayscale(70%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url('https://dwickyferi.github.io/IMG/gambar3.jpg');


    /* Full height */
    height: 40%;
    -webkit-filter: grayscale(70%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(70%);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}

.caption{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:gray;
    font-size: 70px;
}

.box-text{
    background: gray;
    color:white;
    padding: 10px;
    
}

@media screen and (min-width: 601px) {
    .box-text {
        font-size: 200% !important;
    }
}

@media screen and (max-width: 600px) {
    .box-text {
        font-size: 120% !important;
    }
}

.caption2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.main-timeline8 {
    overflow: hidden;
    position: relative;
}

.main-timeline8:after,
.main-timeline8:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline8:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #d6d5d5;
    position: absolute;
    top: 30px;
    left: 50%
}

.main-timeline8 .timeline {
    width: 50%;
    float: left;
    padding-right: 30px;
    position: relative
}

.main-timeline8 .timeline-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fe6847;
    position: absolute;
    top: 5.5%;
    right: -17.5px
}

.main-timeline8 .year {
    display: block;
    padding: 10px;
    margin: 0;
    font-size: 30px;
    color: #fff;
    border-radius: 0 50px 50px 0;
    background: #fe6847;
    text-align: center;
    position: relative
}

.main-timeline8 .year:before {
    content: "";
    border-top: 35px solid #f59c8b;
    border-left: 35px solid transparent;
    position: absolute;
    bottom: -35px;
    left: 0
}

.main-timeline8 .timeline-content {
    padding: 30px 20px;
    margin: 0 45px 0 35px;
    background: #f2f2f2
}

.main-timeline8 .title {
    font-size: 19px;
    font-weight: 700;
    color: #504f54;
    margin: 0 0 10px
}

.main-timeline8 .description {
    font-size: 14px;
    color: #7d7b7b;
    margin: 0
}

.main-timeline8 .timeline:nth-child(2n) {
    padding: 0 0 0 30px
}

.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
    right: auto;
    left: -14.5px
}

.main-timeline8 .timeline:nth-child(2n) .year {
    border-radius: 50px 0 0 50px;
    background: #7eda99
}

.main-timeline8 .timeline:nth-child(2n) .year:before {
    border-left: none;
    border-right: 35px solid transparent;
    left: auto;
    right: 0
}

.main-timeline8 .timeline:nth-child(2n) .timeline-content {
    text-align: right;
    margin: 0 35px 0 45px
}

.main-timeline8 .timeline:nth-child(2) {
    margin-top: 170px
}

.main-timeline8 .timeline:nth-child(odd) {
    margin: -175px 0 0
}

.main-timeline8 .timeline:nth-child(even) {
    margin-bottom: 80px
}

.main-timeline8 .timeline:first-child,
.main-timeline8 .timeline:last-child:nth-child(even) {
    margin: 0
}

.main-timeline8 .timeline:nth-child(2n) .timeline-icon {
    border-color: #7eda99
}

.main-timeline8 .timeline:nth-child(2n) .year:before {
    border-top-color: #92efad
}

.main-timeline8 .timeline:nth-child(3n) .timeline-icon {
    border-color: #8a5ec1
}

.main-timeline8 .timeline:nth-child(3n) .year {
    background: #8a5ec1
}

.main-timeline8 .timeline:nth-child(3n) .year:before {
    border-top-color: #a381cf
}

.main-timeline8 .timeline:nth-child(4n) .timeline-icon {
    border-color: #f98d9c
}

.main-timeline8 .timeline:nth-child(4n) .year {
    background: #f98d9c
}

.main-timeline8 .timeline:nth-child(4n) .year:before {
    border-top-color: #f2aab3
}

@media only screen and (max-width:767px) {
    .main-timeline8 {
        overflow: visible
    }

    .main-timeline8:before {
        top: 0;
        left: 0
    }

    .main-timeline8 .timeline:nth-child(2),
    .main-timeline8 .timeline:nth-child(even),
    .main-timeline8 .timeline:nth-child(odd) {
        margin: 0
    }

    .main-timeline8 .timeline {
        width: 100%;
        float: none;
        padding: 0 0 0 30px;
        margin-bottom: 20px !important
    }

    .main-timeline8 .timeline:last-child {
        margin: 0 !important
    }

    .main-timeline8 .timeline-icon {
        right: auto;
        left: -14.5px
    }

    .main-timeline8 .year {
        border-radius: 50px 0 0 50px
    }

    .main-timeline8 .year:before {
        border-left: none;
        border-right: 35px solid transparent;
        left: auto;
        right: 0
    }

    .main-timeline8 .timeline-content {
        margin: 0 35px 0 45px
    }
}

 .container-fluid {
     overflow: hidden;
     background: #262626;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .social {
     font-size: 21px !important
 }

 .rights {
     font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
 }

